# (Remove .example from end file)
# ===================================================================
# Environment Settings
# ===================================================================

# Network Settings
WIFI_IFACE=wlxfc221c100d54
WAN_IFACE=wlp12s0b1
GATEWAY_IP=192.168.50.1

# Admin Settings
ADMIN_PASSWORD=admin
SESSION_TIMEOUT=3600

# Voucher Settings
VOUCHER_LENGTH=6
CLEANUP_INTERVAL=30

# Application Settings
DB_PATH=/app/data/portal.db
FLASK_DEBUG=false
